* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addTask {
  height: 30vh;
  width: 100%;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTask input {
  width: 80vw;
  height: 2rem;
  border-radius: .5rem;
  padding: .5rem;
}

.addTask button {
  margin-left: .5rem;
  height: 2rem;
  border-radius: .5rem;
  padding: .5rem;
  cursor: pointer;
}


.list {
  margin-top: 1rem;
  width: 100%;
  min-height: calc(100vh - 30 vh);
  background-color: lightblue;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.task {
  margin-bottom: 1rem;
  width: 500px;
  height: 50px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task button {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  text-align: center;
}