
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: .25rem solid black;
}

.flex-item {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightcoral;
}

.item-3 {
    background-color: cyan;
}

.item-4 {
    background-color: lightgoldenrodyellow;
}

.item-5 {
    background-color: lightpink;
}

.item-6 {
    background-color: lightgreen;
}

/* ======================================================== */

/* align-self */

.container{
    display: flex;
    height: 500px;
    align-items: stretch;
}
.item-1{
    /* what in parent */
    align-self: auto;
}
.item-2{
    align-self: center;
}
.item-3{
    align-self: flex-end;
}
.item-4{
    align-self: flex-start;
}

.item-5{
    align-self: stretch;
}
